MPE.Boyum/packages/
MPE.Boyum/bin/Debug/Functional.Maybe.dll
MPE.Boyum/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MPE.Boyum/obj/Debug/MPE.Boyum.csprojResolveAssemblyReference.cache
MPE.Boyum/bin/Debug/SimpleInjector.xml
MPE.Boyum/bin/
MPE.Boyum/obj/
MPE.Boyum.Client/obj/
MPE.Boyum.Client/bin/
